<header *ngIf="showHead">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row class="nav-row">
      <nav>
        <a mat-icon-button routerLink="/">
          <mat-icon>home</mat-icon>
        </a>
      </nav>

      <a>
        <p *ngIf="user" class="welcome_text"> Welcome {{user}} </p>
      </a>


      <!-- TODO add more navigation elements here -->

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <!-- TODO: link to cart -->
        <a routerLink="/cart" *ngIf="notSignedInBool" mat-menu-item>

          <ng-container *ngIf="$cartItemCount | async as count; else templateNoItem">
            <mat-icon matBadgeSize="small" [matBadge]="count" matBadgePosition="after" matBadgePosition="above"
                      matBadgeColor="accent">
              shopping_cart
            </mat-icon>
            <span>Cart</span>
          </ng-container>
          <ng-template #templateNoItem>
            <mat-icon>
              shopping_cart
            </mat-icon>
            <span>Cart</span>
          </ng-template>

        </a>

        <a href="/admin-panel" *ngIf="isAdmin" mat-menu-item>
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin Panel</span>
        </a>

        <a routerLink="/login" *ngIf="!user" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </a>

        <button *ngIf="user" (click)="logout()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Log Out</span>
        </button>

        <!--reference to user.service.ts-->
        <!--<ng-container *ngIf="isAdminGuard | async">
          <a routerLink="/" *ngIf="user" (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Log Out</span>
          </a>
        </ng-container>-->
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-divider></mat-divider>

<main>
  <router-outlet></router-outlet>
</main>

<footer *ngIf="showHead">
  <mat-toolbar>
    <p style="font-size: 0.75em; font-weight: normal; opacity: 0.75; margin: 0">
      <span> Team 8 - {{ date | date: "yyyy" }} </span>
    </p>
  </mat-toolbar>
</footer>
