footer {
  margin-top: auto;
}

.nav-row {
  padding: 0 0.5em;
  overflow: auto;
  justify-content: space-between;
}

mat-toolbar-row > nav {
  margin: 0 0.5em;
}

.welcome_text {
  margin-left: 90%;
  margin-top: 5%;
}
