<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    name="item_filter"
    placeholder="Ex. Shoes"
    #input
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay">
      <div *ngIf="column != 'action'; then thenBlock1; else elseBlock1"></div>
      <ng-template #thenBlock1>
        <div *ngIf="column != 'stock'; then thenBlock2; else elseBlock2"></div>
        <ng-template #thenBlock2>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-template>
        <ng-template #elseBlock2>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column }}
          </th>
          <td
            mat-cell
            (click)="$event.stopPropagation()"
            *matCellDef="let element"
          >
            <app-update-item
              [element]="element"
              [column]="column"
            ></app-update-item>
          </td>
        </ng-template>
      </ng-template>
      <ng-template #elseBlock1
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td
          mat-cell
          (click)="$event.stopPropagation()"
          *matCellDef="let element"
        >
          <button
            mat-button
            color="warn"
            (click)="openDeleteConfirmationDialog(element)"
          >
            Remove
          </button>
        </td>
      </ng-template>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="element-diagram">
            <div class="element-image">
              <ng-container *ngIf="element.image?.includes('http') ?? false">
                <img [src]="element.image" [alt]="'Image of ' + element.name"/>
              </ng-container>
            </div>
          </div>
          <div class="element-description">
            {{ element.description }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No items matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
