<mat-card style="min-height: 300px">
  <mat-card-header>
    <mat-card-title>Admin Panel</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <!-- Items Management -->
      <mat-tab label="Items Management">
        <mat-tab-group>
          <!-- Items Inventory -->
          <mat-tab label="Items Inventory">
            <app-get-items></app-get-items>
          </mat-tab>
          <!-- Add New Item -->
          <mat-tab label="Add New Item">
            <app-add-item></app-add-item>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>


      <!-- Orders Management -->
      <mat-tab label="Orders Management">
        <mat-tab-group>
          <!-- Orders Inventory -->
          <mat-tab label="Orders Inventory">

            <div class="mat-elevation-z8">
              <order-table></order-table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Database Administration">
        <a href="http://localhost:8081/?server=database" target="_blank" mat-menu-item>
          <mat-icon>storage</mat-icon>
          <span>Database Administration</span>
        </a>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>