.mat-card {
  margin: 1em;
}

.mat-card-header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  min-width: 20%;
  /*width: 25%;*/
}

th {
  text-transform: uppercase;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: rgb(150, 150, 150);
}

tr.element-row:not(.expanded-row):active {
  background: rgb(150, 150, 150);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-image {
  height: 100%;
}

.element-image > img {
  height: 100%;
  width: 100%;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-description {
  padding: 16px;
}
