<mat-card>
  <mat-card-title>Thank You!</mat-card-title>
  <mat-card-subtitle>
    Thank you for shopping at e-Shop!
  </mat-card-subtitle>
  <mat-card-content>
    <div align="center">
      <h1></h1>
      <img width=384 height=128 src="assets/firework.png">
    </div>
    <p>&nbsp;</p>
    <div align="center">
      <h4>
        <ng-container *ngIf="$orderId | async as orderId">
          <p>Your purchase has been accepted!</p>
          <p style="opacity: 0.7">Your order ID is: {{ orderId }}</p>
        </ng-container>
        <!--<ng-container>
          <p>The total amount for this order comes to: {{orderDto.total | currency}}</p>
        </ng-container>-->
      </h4>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-raised-button color="primary" routerLink="/">
      Back to Catalog
    </a>
  </mat-card-actions>
</mat-card>
