<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>User Email-Address</mat-label>
          <input matInput type="email" id="email" formControlName="email" placeholder="Enter Your Email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint></mat-hint>
          <mat-error *ngIf="(form.get('email'))?.errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="(form.get('email'))?.errors?.['pattern']">Please enter valid email</mat-error>
        </mat-form-field>
      </div>
    </form>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="flag ? 'password' : 'text'" placeholder="Enter your password"
                 formControlName="password">
          <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-error>Name is required</mat-error>
          <mat-error *ngIf="(form.get('password'))?.errors?.['minlength']">Please enter more than 6 character
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <div>
      <button class="nav-item nav-link-edit"
              style="width: 100%" mat-raised-button color="primary" type="submit"
              [disabled]="!form.valid" (click)="registration(form)">
        Login
      </button>
    </div>
    <div class="no_account">
      <mat-label>No account yet?</mat-label>
      <a routerLink="/registration" mat-button>
        <span class="text_create">Register Now</span>
      </a>
    </div>
  </mat-card-content>
</mat-card>
