mat-card {
  width: fit-content;
  margin: 1em auto auto;
}

.button_create {
  width: 30%;
  margin-left: 60px;
}

.no_account {
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.no_account > a {
  width: 100%
}
