mat-card {
  width: fit-content;
  margin: 1em auto auto;
}

.cancel {
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.cancel > a {
  width: 100%
}

.payment_form {
  margin-top: 20%;
}
