<mat-card class="'payment_form">
  <mat-card-title>Payment Information</mat-card-title>
  <mat-card-content>

    <!--    Todo : Add constraints on the input and link to the button in the cart view-->

    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Card Holder Name</mat-label>
          <input matInput id="card_name" formControlName="card_name" placeholder="Enter The Cart Holder Name">
          <mat-icon matSuffix>user</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>
    </form>

    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Card Number</mat-label>
          <input matInput id="card_number" formControlName="card_number" placeholder="Enter Your Card Number">
          <mat-icon matSuffix>credit_card</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>
    </form>

    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>CCV</mat-label>
          <input matInput [type]="flag ? 'password' : 'text'" placeholder="Enter the CVC of your card"
                 formControlName="ccv">
          <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>
        </mat-form-field>
      </div>
    </form>

    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Card Expiration Date</mat-label>
          <input matInput type=date placeholder="Enter the card expiration date"
                 formControlName="expiration_date">
          <mat-icon>calendar</mat-icon>
        </mat-form-field>
      </div>
    </form>

    <div *ngIf="$orderReference | async as orderReference">
      <a class="nav-item nav-link-edit"
         style="width: 100%" mat-raised-button color="primary" type="submit"
         [routerLink]="['/thank-you', 'complete']"
         [queryParams]="{orderId: orderReference}"
         [disabled]="!form.valid">
        Confirm payment
      </a>
    </div>
    <div class="cancel">
      <a routerLink="/cart" mat-button>
        <span class="text_create">Cancel</span>
      </a>
    </div>
  </mat-card-content>
</mat-card>
