<div mat-dialog-content>Are you sure you want to remove this item?</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="deleteItem()">Confirm</button>
</div>
