/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filter_title{
  margin: auto;
  width: 60%;
  padding: 15px;
  color : black;
  font-size : 20px;
}

.price{
  margin: auto;
  width: 60%;
  padding: 10px;
  color: black;
}

.price_slider{
  margin-left: 25px;
  width: 80%
}

.kronor{
  color: black;
}

.name_field, .categories_field, .price_div{
  width: 100%
}

.search_icon{
  margin-left: 30%;
}
