<mat-card style="margin: 1em">
  <mat-card-header>
    <mat-card-title>
      Hello World
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>I load data from the database by calling the backend's REST API.</p>
    <ng-container *ngIf="$messages | async as messages">
      <ul>
        <li *ngFor="let message of messages">
          {{message.message}}
        </li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
