<form class="center" [formGroup]="itemForm" (ngSubmit)="saveItem()" novalidate>
  <!-- Item Name -->
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="itemName"
      required
      placeholder="Ex. Nike Air 1"
    />
  </mat-form-field>
  <!-- Item Price -->
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input
      type="number"
      matInput
      formControlName="itemPrice"
      required
      placeholder="Ex. 121.05"
      min="0"
    />
  </mat-form-field>
  <!-- Item Category -->
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input
      matInput
      formControlName="itemCategory"
      required
      placeholder="Ex. Shoes"
    />
  </mat-form-field>
  <!-- Item Stock -->
  <mat-form-field appearance="fill">
    <mat-label>Stock</mat-label>
    <input
      type="number"
      matInput
      formControlName="itemStock"
      required
      placeholder="Ex. 15"
      min="0"
    />
  </mat-form-field>
  <!-- Item Image -->
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input
      matInput
      formControlName="itemImage"
      placeholder="Ex. imgure.com/shoes/123"
    />
  </mat-form-field>
  <!-- Item Description -->
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="itemDescription"
      placeholder="Ex. It makes you feel..."
    ></textarea>
  </mat-form-field>

  <mat-error *ngIf="validationError">
    One or more inputs are invalid!
  </mat-error>

  <!-- Submit -->
  <button mat-button color="accent" [disabled]="isSubmitButtonDisabled">
    Submit
  </button>
</form>
