button {
  min-width: 0;
  padding: 0;
  margin: 0;
  text-align: left;
}

.edit-button {
  display: block;
  height: 10%;
  width: 10%;
}

.edit-item-form-input {
  display: block;
  margin-top: 1rem;
  width: 60%;
  height: 80%;
}

:host ::ng-deep .edit-item-form-input .mat-form-field-wrapper {
  padding: 0;
}

:host
::ng-deep
.edit-item-form-input
.mat-form-field-appearance-outline
.mat-form-field-infix {
  padding: 0.5rem;
}

.edit-cancel-button {
  margin-left: 2rem;
}

.edit-submit-button {
  margin-left: 2rem;
}

.item-stock-preview-on {
  display: contents;
}

.item-stock-preview-off {
  display: none;
}

.item-stock-edit-on {
  display: contents;
}

.item-stock-edit-off {
  display: none;
}

.item-stock-edit-error-on {
  text-align: left;
  display: block;
}

.item-stock-edit-error-off {
  display: none;
}
