<div class="wrapper" *ngIf="$orderId | async as orderId">
  <ng-container *ngIf="$orderDto | async as orderDto">

    <mat-card>
      <mat-card-header>
        <h2>Your Order</h2>
      </mat-card-header>
      <mat-card-content>
        <table style="max-width: 300px">
          <thead>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          </thead>
          <tr *ngFor="let item of orderDto.items">
            <td>{{item.item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.item.price | currency}}</td>
          </tr>
          <tfoot>
          <td></td>
          <td></td>
          <td><b>{{orderDto.total | currency}}</b></td>
          </tfoot>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <h2>Shipment Information</h2>
      </mat-card-header>
      <mat-card-content>
        <form *ngIf="form" [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput autocomplete="given-name" placeholder="Enter First Name" formControlName="firstName">
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput autocomplete="family-name" placeholder="Enter Last Name" formControlName="lastName">
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input autocomplete="street-address" matInput placeholder="Enter Address" formControlName="address">
            <mat-hint></mat-hint>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input autocomplete="tel" matInput placeholder="Enter Phonenumber" formControlName="phone">
            <mat-hint></mat-hint>
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid||loading"
                  (click)="onFormSubmit(form, orderDto)">
            Pay Now
          </button>

          <a mat-button [routerLink]="['/cart']" style="margin-top: 0.5em">
            Cancel
          </a>
        </form>
      </mat-card-content>

      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    </mat-card>

  </ng-container>
</div>
